h1{
    text-align: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    margin-bottom: 2%;
}


#heading{
    background-color: #4df57c;
    padding-top: 5%;
    padding-bottom: 5%;
}

body{
    background-color: #fbe7c6;
}

a{
    text-align: center;
    font-size: 30px;
    color:white;
    text-decoration: none;
}


#content {
  background-color: #ffafbc;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  margin-left: 46%;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#content:hover,
#content:focus {
  background-color: #F082AC;
}